*
#!/home/evkuz/asm/*.asm
#!/home/evkuz/asm/*.fasm
#!/home/evkuz/asm/*.bash
#!/home/evkuz/asm/*.sh
#!/home/evkuz/asm/sem_*

!*.*
!*/*
!*/*.*
!sem_08
sem_08/*.*
!sem_08/*.fasm
!float/
!incl*
!matrix_mul/*.fasm
!matrix_mul/perf/*.fasm

!simd
simd/*.*

#!simd
!simd/*.fasm
!simd/*.txt


